<md-toolbar>
  <button md-button (click)="test1()">Test 1</button>
  <button md-button (click)="createCategory()">Category</button>
  <button md-button (click)="subject()">Subject</button>
  <button md-button (click)="data()">Data

  </button>
  <button md-button (click)="test5()">Test 5</button>
  <button md-button (click)="remove()">Remove</button>
</md-toolbar>


<h3>Select Data</h3>
<md-card>
  <prettyjson [obj]="selectData"></prettyjson>
</md-card>


<h3>All Data</h3>
<md-card>
  <!--<prettyjson [obj]="allData"></prettyjson>-->
 <pre> {{allData | json}}</pre>
</md-card>
